@font-face {
  font-family: CHAWP;
  src: url("../../fonts/chawp/chawp.otf") format("opentype");
}

.coverbg {
  font-family: CHAWP;
  width: 100%;
  padding-top: 70%;
  max-height: 100%;
  position: relative;
  background-image: url("../../assets/img/cover-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.coverbgContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.link:hover {
  color: white;
  transform: scale(1.1, 1.1);
}
