.nftCard {
  font-family: CHAWP;
  margin: 0;
  text-align: center;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.nftContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nftCard img {
  position: absolute;
  width: 40%;
  height: 50%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;

  border: none;
  outline: none;
  background: none;
}

.btn.mint {
  color: #f50058;
}
.btn.stake {
  color: #28a334;
}

.btn::after {
  content: "";
  position: absolute;
  border: 2px solid;
  width: 40%;
  bottom: -3px;
  left: 3px;
  transform: rotate(-10deg);
}

.bg0 {
  background: url("../../assets/img/collection-bgs/0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg1 {
  background: url("../../assets/img/collection-bgs/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg2 {
  background: url("../../assets/img/collection-bgs/2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg3 {
  background: url("../../assets/img/collection-bgs/3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg4 {
  background: url("../../assets/img/collection-bgs/4.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg5 {
  background: url("../../assets/img/collection-bgs/5.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg6 {
  background: url("../../assets/img/collection-bgs/6.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg7 {
  background: url("../../assets/img/collection-bgs/7.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg8 {
  background: url("../../assets/img/collection-bgs/8.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg9 {
  background: url("../../assets/img/collection-bgs/9.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg10 {
  background: url("../../assets/img/collection-bgs/10.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg11 {
  background: url("../../assets/img/collection-bgs/11.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
