.logout {
  color: #888680;
  font-size: 1.5rem;

  position: absolute;
  top: 80px;
  right: 90px;

  z-index: 10;
}

.logout button {
  color: #f50058;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
